extends ../layout

block content
  h1.
    Movie ID #{movie._id}
  form(action='/movies/#{movie._id}/edit', method='post', name='updatemovie', enctype='application/x-www-form-urlencoded')
    div.input-prepend
      span.add-on
        i.icon-envelope
        input#inputName(type='text', value='#{movie.name}', name='name')
    p Starring:
      input#inputStarring(type='text', value='#{movie.starring}', name='starring')
    p Notes:
      input#inputNotes(type='text', value='#{movie.notes}', name='notes')
    p Year:
    input#inputYear(type='number', value='#{movie.year}', name='year')
    p Is this retail?
    input#inputRetail(type='checkbox',name='retail', checked=('#{movie.retail}' === 'true' ? "checked" : undefined))
    p
      input(type='hidden',value='PUT',name='_method')
    p
      button#btnSubmit(type='submit').
        Update
