extends ../layout

block content
  h1.
    Name: #{movie.name}
  p Starring: #{movie.starring}
  p Notes: #{movie.notes}
  p Year: #{movie.year}
  p Retail: #{movie.retail} (is boolean, change to checkbox or yes no, or something)
  Blob ID #{movie._id}
